@media (max-width: 817px) {

    nav {
        width: 812px;
    }

    #slider {
        width: 812px;
    }

    #slider div {
        width: 812px;
    }

    #slider h1{
        top: 160px;
        left: 270px;
       
    }

    #texto-pets{
        top: 745px;
        height: 219px;
    }
    
    #texto-armas{
        top: 985px;
        height: 129px;
    }

    #texto-armaduras{
        top: 1135px;
    }

    #texto-ferramentas{
        top: 1285px;
        height: 129px; 
    }

    #texto-lacaios{
        top: 1436px;
    }

    #texto-diversos{
        top: 1935px;
    }

   
}