@media (max-width: 1029px) {

    nav {
        width: 1024px;
    }

    .logo {
        width: 250px;
        height: 250px;
    }

    .nav-list li {
        letter-spacing: 3px;
        margin-right: 10px;
    }

    .nav-list li a {
        font-size: 1em;
    }

    #slider{
        width: 1024px;
        height: 400px;
        margin-top: 0px;
        border-radius: 0px;
        margin-bottom: 30px;
        transition: 3s;
    }
    
    #slider div{
        width: 1024px;
        height: 400px;
        transition: 3s;
    }
    

    #slider img{
        border-radius: 0px;
    }


    #slider h1 {
        top: 165px;
        left: 320px;
        font-size: 3.5em;
    }


    #slider h1.titulo-especial{
        top: 165px;
        left: 335px;
    }
    #texto-pets{
        top: 715px;
        height: 220px;
    }
    
    #texto-armas{
        top: 955px;
        height: 130px;
    }

    #texto-armaduras{
        top: 1105px;
    }
    #card-armaduras img.ativado{
        width: 120px;
        margin-bottom: 23px;
    }

    #texto-ferramentas{
        top: 1255px;
        height: 130px;
    }
    #card-ferramentas img.ativado{
        margin-bottom: 23px;
    }

    #texto-lacaios{
        top: 1405px;
    }

    #texto-diversos{
        top: 1905px;
    }
    

}