@media (max-width: 725px) {

    nav {
        width: 720px;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .mobile-menu {
        left: 20px;
    }

    .nav-list {
        width: 150px;
        height: 300px;
    }

    .nav-list li a {
        font-size: 0.8em;
        right: -240px;
    }

    #slider {
        width: 720px;
        height: 300px;
        border-radius: 0px;
        margin-top: 0px;
    }

    #slider div {
        width: 720px;
        height: 300px;

    }

    #slider img {
        border-radius: 0px;
    }

    #slider h1 {
        top: 120px;
        left: 205px;
        font-size: 2.5em;
    }

    #slider h1.titulo-especial{
        top: 120px;
        left: 220px;
    }

    #texto-pets{
        top: 615px;
    }
    
    #texto-armas{
        top: 855px;
    }

    #texto-armaduras{
        height: 130px;
        top: 1005px;
    }
    #card-armaduras img.ativado{
        width: 110px;
        margin-bottom: 23px;
    }

    #texto-ferramentas{
        top: 1155px;  
    }
    #card-ferramentas img.ativado{
        margin-bottom: 23px;
    }

    #texto-lacaios{
        top: 1305px;
    }

    #texto-diversos{
        height: 525px;
        top: 1805px;
    }



}