@media (max-width: 773px) {

    nav {
        width: 768px;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .mobile-menu {
        left: 20px;
    }

    .nav-list {
        width: 150px;
        height: 300px;
    }

    .nav-list li a {
        font-size: 0.8em;
        right: -240px;
    }

    #slider {
        width: 768px;
        height: 350px;
        border-radius: 0px;
        margin-top: 0px;
    }

    #slider div {
        width: 768px;
        height: 350px;

    }

    #slider img{
        border-radius: 0px;
    }

    #slider h1{
        top: 124px;
        left: 180px;
        font-size: 3em;
    }


    #texto-pets{
        top: 694px;
    }
    
    #texto-armas{
        top: 934px;
    }

    #texto-armaduras{
        top: 1085px;
    }

    #texto-ferramentas{
        top: 1234px;  
    }

    #texto-lacaios{
        top: 1385px;
    }

    #texto-diversos{
        top: 1885px;
    }

}