@media (max-width: 672px) {

    nav {
        width: 667px;
    }

    #slider {
        width: 667px;
        height: 200px;
    }

    #slider div {
        width: 667px;
        height: 200px;
    }

    #slider h1{
        top: 80px;
        left: 210px;
        font-size: 2.1em;
    }
    
    #slider h1.titulo-especial{
        top: 80px;
        left: 225px;
    }

    #texto-pets{
        top: 545px;
    }
    
    #texto-armas{
        top: 785px;
    }

    #texto-armaduras{
        top: 934px;
    }

    #texto-ferramentas{
        top: 1085px;  
    }

    #texto-lacaios{
        top: 1234px;
    }

    #texto-diversos{
        top: 1735px;
    }

    
}