@media (max-width: 817px) {

    nav {
        width: 812px;
    }

    #slider {
        width: 812px;
        height: 250px;
    }

    #slider div {
        width: 812px;
        height: 250px;
    }

    #slider h1{
        top: 100px;
        left: 270px;
        font-size: 2.5em;
       
    }

    #slider h1.titulo-especial{
        top: 100px;
        left: 285px;
    }

    #texto-pets{
        top: 565px;
        height: 220px;
    }
    
    #texto-armas{
        top: 805px;
        height: 130px;
    }

    #texto-armaduras{
        top: 956px;
        height: 129px;
    }

    #card-armaduras img.ativado{
        width: 120px;
        margin-top: 0;
        margin-bottom: 23px;
    }

    #texto-ferramentas{
        top: 1105px;
        height: 130px; 
    }

    #card-ferramentas img.ativado{
        width: 120px;
        margin-top: 0;
        margin-bottom: 21px;
    }

    #texto-lacaios{
        top: 1255px;
    }

    #texto-diversos{
        top: 1755px;
        height: 525px;
    }

   
}