@media (max-width: 365px) {

    body{
        max-width: 360px;
    }
    nav {
        width: 360px;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .mobile-menu {
        left: 20px;
    }

    .nav-list {
        width: 150px;
        height: 300px;
    }

    .nav-list li a {
        font-size: 0.8em;
        right: -240px;
    }

    #slider {
        width: 360px;
        height: 200px;
        border-radius: 0px;
        margin-top: 0px;
    }

    #slider div {
        width: 360px;
        height: 200px;

    }

    #slider img{
        border-radius: 0px;
    }

    #slider h1{
        top: 80px;
        left: 90px;
        font-size: 1.5em;
    }

    #slider h1.titulo-especial{
        top: 80px;
        left: 105px;
    }

    #btn-conteudo-gerais {
        width: 300px;
        height: 450px;
        top: 350px;
    }

    #btn-fecha{
        left: 120px;
    }

    #btn-fecha:active{
        left: 122px;
    }

    #texto-regras h1{
        font-size: 1.5em;
    }
    
    #texto-regras h2{
        font-size: 1.1em;
    }
    
    #texto-regras p {
        font-size: 0.8em;
        margin-left: 30px;
    }

    #btn-conteudo-construcao{
        width: 300px;
        height: 450px;
        top: 350px;
    }

    #btn-fecha-construcao{
        left: 120px;
    }

    #btn-fecha-construcao:active{
        left: 123px;
    }

    #texto-construcao h1{
        margin-left: 35px;
        font-size: 1.5em;
    }
    
    #texto-construcao h2{
        font-size: 1.1em;
    }
    
    #texto-construcao p {
        font-size: 0.8em;
        margin-left: 30px;
    }

    .footer{
        width: 276px;
        height: 112px;
    }

}