@media (max-width: 672px) {

    nav {
        width: 667px;
    }

    #slider {
        width: 667px;
        height: 200px;
    }

    #slider div {
        width: 667px;
        height: 200px;
    }

    #slider h1{
        top: 80px;
        left: 210px;
        font-size: 2.1em;
    }
    
    #slider h1.titulo-especial{
        top: 80px;
        left: 225px;
    }

    #conteudo-principal {
        display: flex;
        width: 500px;
        max-height: 430px;
        background: url(/img/pergaminho3.jfif) center center no-repeat;
        background-size: cover;
        border-radius: 20px 10px 10px 20px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.531);
        padding: 0 0 30px 0;
        transition: .8s ease-in-out;
    }


    #katana-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }


    #adaga-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }

    #espada-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }

    #espada-curta-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }

    #espada-curta-btn h3 {
        top: -55px;
    }


    #espada-grande-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }


    #espada-grande-btn h3 {
        font-size: 1.1em;
    }


    #machado-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }


    #machado-btn h3 {
        font-size: 1.1em;
    }



    #machado-grande-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }


    #machado-grande-btn h3 {
        font-size: 1.1em;
    }



    #maca-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }



    #maca-grande-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }



    #lanca-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }



    #arco-btn {
        width: 140px;
        height: 60px;
        margin:  12px auto;
    }



    #diversos-btn {
        width: 140px;
        height: 60px;
        margin:  12px 20px;
    }



    #armadura-pesada-btn {
        width: 100px;
        height: 90px;
        margin:  12px 20px;
    }


    #armadura-pesada-btn h3 {
        font-size: .9em;
    }


    #armadura-media-btn {
        width: 100px;
        height: 90px;
        margin:  12px 20px;
    }

    #armadura-media-btn h3 {
        font-size: .9em;
    }


    #armadura-leve-btn {
        width: 100px;
        height: 90px;
        margin:  12px 20px;
    }

    #armadura-leve-btn h3 {
        font-size: .9em;
    }


   
}