@media (max-width: 773px) {

    nav {
        width: 768px;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .mobile-menu {
        left: 20px;
    }

    .nav-list {
        width: 150px;
        height: 300px;
    }

    .nav-list li a {
        font-size: 0.8em;
        right: -240px;
    }

    #slider {
        width: 768px;
        height: 250px;
        border-radius: 0px;
        margin-top: 0px;
    }

    #slider div {
        width: 768px;
        height: 250px;

    }

    #slider img{
        border-radius: 0px;
    }

    #slider h1{
        top: 85px;
        left: 190px;
        font-size: 3em;
    }

    #slider h1.titulo-especial{
        top: 85px;
        left: 215px;
    }


}