@media (max-width: 365px) {
  body {
    max-width: 360px;
  }

  nav {
    width: 343px;
  }

  .logo {
    width: 150px;
    height: 150px;
  }

  .mobile-menu {
    left: 20px;
  }

  .nav-list {
    width: 150px;
    height: 300px;
  }

  .nav-list li a {
    font-size: 0.8em;
    right: -240px;
  }

  #slider {
    width: 343px;
    height: 200px;
    border-radius: 0px;
    margin-top: 0px;
  }

  #slider div {
    width: 343px;
    height: 200px;
  }

  #slider img {
    border-radius: 0px;
  }

  #slider h1 {
    top: 80px;
    left: 90px;
    font-size: 1.5em;
  }

  #slider h1.titulo-especial {
    top: 80px;
    left: 105px;
  }

  #conteudo-principal {
    display: flex;
    width: 250px;
    max-height: 350px;
    background: url(/img/pergaminho3.jfif) center center no-repeat;
    background-size: cover;
    border-radius: 20px 10px 10px 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.531);
    padding: 0 0 30px 0;
    transition: 0.8s ease-in-out;
    overflow-y: scroll;
  }

  #conteudo-principal::-webkit-scrollbar {
    width: 10px;
  }

  #conteudo-principal::-webkit-scrollbar-track {
    background: black;
    border-radius: 0 20px 20px 0;
  }

  #conteudo-principal::-webkit-scrollbar-thumb {
    background-color: darkred;
    border-radius: 0 20px 20px 0;
  }

  #katana-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #adaga-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #espada-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #espada-curta-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #espada-curta-btn h3 {
    top: -55px;
  }

  #espada-grande-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #espada-grande-btn h3 {
    font-size: 1.1em;
  }

  #machado-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #machado-btn h3 {
    font-size: 1.1em;
  }

  #machado-grande-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #machado-grande-btn h3 {
    font-size: 1.1em;
  }

  #maca-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #maca-grande-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #lanca-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #arco-btn {
    width: 140px;
    height: 60px;
    margin: 12px auto;
  }

  #diversos-btn {
    width: 140px;
    height: 60px;
    margin: 12px 20px;
  }

  #armadura-pesada-btn {
    width: 100px;
    height: 90px;
    margin: 12px 20px;
  }

  #armadura-pesada-btn h3 {
    font-size: 0.9em;
  }

  #armadura-media-btn {
    width: 100px;
    height: 90px;
    margin: 12px 20px;
  }

  #armadura-media-btn h3 {
    font-size: 0.9em;
  }

  #armadura-leve-btn {
    width: 100px;
    height: 90px;
    margin: 12px 20px;
  }

  #armadura-leve-btn h3 {
    font-size: 0.9em;
  }

  #container-conteudo {
    position: absolute;
    top: 413px;
    left: 23px;
    width: 300px;
    height: 347px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171219;
    border-radius: 20px 5px 5px 20px;
    border: none;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.531);
    opacity: 0;
    transition: 2s ease-in-out;
  }

  .container-card {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 100%;
    align-items: center;
    background: transparent;
    border-radius: 20px 5px 5px 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.531);
    overflow-y: scroll;
    margin-top: 0px;
    transition: 2s ease-in-out;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    filter: drop-shadow(0 0 0.1rem lightgreen);
    margin: 20px 0 55px 30px;
    transition: 2s ease-in-out;
    cursor: pointer;
  }

  .btn-fecha {
    position: relative;
    top: 0px;
    left: 15px;
    width: 26px;
    height: 26px;
    margin-top: 7px;
    margin-left: 239px;
    background-color: black;
    font-family: "Nosifer", sans-serif;
    color: darkred;
    border-radius: 5px;
    box-shadow: 2px 3px 0 rgb(54, 52, 52);
    border: none;
    cursor: pointer;
  }

  .btn-fecha:active {
    position: relative;
    top: 3px;
    left: 17px;
    box-shadow: none;
  }

  .card-ativado {
    position: relative;
  }

  .titulo-card {
    font-family: "Press Start 2P";
    color: lawngreen;
    font-size: 0.6em;
    margin: 10px 0 0px 10px;
    padding-left: 0px;
    filter: drop-shadow(0 0 0.25rem lawngreen);
  }

  .titulo-card-ativado {
    font-size: 0.9em;
  }

  .imagem-card {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    margin: 5px 0 0 14px;
  }

  .imagem-card-ativado {
    width: 100px;
    height: 100px;
    margin: 10px 0 15px 90px;
  }

  .card p {
    font-family: "Press Start 2P";
    color: whitesmoke;
    font-size: 10px;
    margin: 10px 5px 20px 0;
    padding-left: 15px;
    display: none;
  }

 

  .card p span {
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 20px;
    letter-spacing: 2px;
    color: lawngreen;
    filter: drop-shadow(0 0 0.75rem lawngreen);
  }

  .btn-add {
    margin: 0 0 0 210px;
    width: 40px;
    height: 40px;
    background-color: black;
    font-family: "Press Start 2P";
    
    border-radius: 5px;
    box-shadow: 2px 4px 0 rgb(54, 52, 52);
    cursor: pointer;
    display: none;
  }

  .btn-add-ativado {
    display: inline-block;

  }

  .btn-add:active {
    position: relative;
    bottom: -4px;
    right: -2px;
    box-shadow: none;
  }

  .footer {
    width: 276px;
    height: 112px;
  }
}
