@media (max-width: 817px) {

    nav {
        width: 812px;
    }

    #slider {
        width: 800px;
        height: 250px;
    }

    #slider div {
        width: 800px;
        height: 250px;
    }

    #slider h1{
        top: 100px;
        left: 270px;
        font-size: 2.5em;
       
    }

    #slider h1.titulo-especial{
        top: 100px;
        left: 285px;
    }

  
}