@media (max-width: 416px){
    
    body{
        width: 416px;
    }
    
    nav{
        width: 416px;
    }

    .logo{
        left: -20px;
    }

    .mobile-menu{
        left: -20px;
    }

    .nav-list{
        top: 166px;
    }

    .nav-list li a{
        position: relative;
        left: 240px;
        font-size: 0.7em;
    }

    #slider{
        width: 60vh;
        height: 30vh;
        position: relative;
        top: -74px;
        left: 18px;
        border-radius: 0px;
        
    }

    #slider div{
        width: 60vh;
        height: 30vh;
    }

    #slider img{
        border-radius: 0px;
    }

    #slider h1{
        top: 4vh;
        left: 15vh;
        font-size: 1.8em;
    }

    main{
        width: 360px;
        height:310vh;
    }

    .conteudo-principal{
        width: 280px;
        height: 1660px;
        position: relative;
        top: -37px;
        left: 21px;
    }
    
    .emblema img{
        left: -76px;
    }

    .footer{
        position: relative;
        left: -6px;
        width: 45vh;
    }
    
    
}