@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



* {
    margin: 0;
    padding: 0;
    
}

body {
    background: url(../../img/conanbg2.jpg) no-repeat;
    background-size: cover;
    transition: 5s;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #171219;
    height: 200px;
    transition: 5s;
}

.logo {
    width: 250px;
    height: 250px;
    transition: 5s;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-top: 120px;
    transition: 5s;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}


.nav-list li a {
    color: #DC143C;
    text-decoration: none;
    font-family: 'Nosifer', sans-serif;
    transition: 1s ease-in-out;
    font-size: 1.5em;
    transition: .5s;
}

.nav-list li a:hover {
    color: beige;
    text-decoration: underline;
}

.nav-list li a.link-ativado{
    color: beige;
    text-decoration: underline;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    position: relative;
    left: 60px;
    transition: 5s;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
    transition: 0.3s;
}







#slider{
    width: 1000px;
    height: 400px;
    margin-top: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 3s;
}

#slider div{
    position: absolute;
    width: 1000px;
    height: 400px;
    transition: 3s;
}

#slider h1{
    position: absolute;
    top: 176px;
    left: 363px;
    z-index: 1;
    color: rgba(139, 0, 0, 0.783);
    font-size: 2.5em;
    font-family: 'Nosifer', sans-serif;
    opacity: 0;
    transition: 1s ease-in-out;
}

#slider img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: 2s ease-in-out;
}

#slider img.selecionada{
    opacity: 1;
}

#slider h1.selecionado{
    opacity: 1;
}





main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 5s;
}

#conteudo-principal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 550px;
    background: url(/img/pergaminho3.jfif) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.531);
    padding: 30px 70px 30px 70px;
    transition: .8s ease-in-out;
}

.titulo-principal{
    font-family: 'Nosifer', sans-serif;
    background: linear-gradient(to bottom,  #171219 64%, #DC143C 0);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    margin-bottom: 30px;
}



#container-conteudo{
    position: absolute;
    top: 660px;
    left: 558px;
    width: 700px;
    display: none;
    justify-content: center;
    align-items: center;
    background: url(/img/pergaminho3.jfif) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.531);
    opacity: 0;
    transition: 2s ease-in-out;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    height: 520px;
    align-items: center;
    background: url(/img/pergaminho3.jfif) center center no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.531);
    overflow-y: scroll;
    margin: 40px 0 20px -25px;
    transition: 2s ease-in-out;
}

.container-card::-webkit-scrollbar{
    width: 5px;
    overflow: auto;
    height: 1em;
}

.container-card::-webkit-scrollbar-track{
    background: black;
    height: 200px;
    border-radius: 5px;
    height: 80px;

}

.container-card::-webkit-scrollbar-thumb{
    background-color: darkred;
    height: 30px;
    

}

.btn-fecha-katanas{
    position: relative;
    top: -270px;
    left: 630px;
    width: 25px;
    height: 25px;
    background-color: black;
    font-family: 'Nosifer', sans-serif;
    color: darkred;
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgb(54, 52, 52);
    border: none;

}

.btn-fecha-katanas:active{
    top: -268px;
    left: 632px;
    box-shadow: none; 
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../img/itens_img/plano-fundo-katana-card.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 255px;
    height: 490px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px  rgb(0, 0, 0);
    margin: 10px 0 10px 40px;
    transition: 2s ease-in-out;
}

.titulo-card{
    font-family: 'Press Start 2P';
    color: goldenrod;
    text-shadow:  1px 1px  5px#DC143C;
    font-size: .9em;
    margin: 10px 0 15px 0;
    padding-left: 0px;
}

.imagem-card{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card p{
    font-family: 'Press Start 2P';
    color: goldenrod;
    font-size: 12px;
    margin: 10px 5px 10px 0;
    padding-left: 15px;
}

.card p span{
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 20px;
    letter-spacing: 2px;
    color: red;
}

.btn-add{
    position: relative;
    right: -80px;
    width: 40px;
    height: 40px;
    background-color: black;
    font-family: 'Press Start 2P';
    color: darkred;
    border-radius: 5px;
    box-shadow: 2px 4px 0 rgb(54, 52, 52);
    cursor: pointer;
}

.btn-add:active{
    position: relative;
    bottom: -4px;
    right: -82px;
    box-shadow: none;
}

.btn-add img{
    width: 70%;
    height: 70%;
}






#katana-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#katana-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#katana-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#katana-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}




#adaga-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#adaga-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#adaga-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#adaga-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}




#espada-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#espada-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#espada-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#espada-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}





#espada-curta-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#espada-curta-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#espada-curta-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#espada-curta-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -67px;
}




#espada-grande-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#espada-grande-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#espada-grande-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#espada-grande-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}




#machado-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#machado-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#machado-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#machado-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}




#machado-grande-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#machado-grande-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#machado-grande-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#machado-grande-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}






#maca-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#maca-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#maca-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#maca-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}







#maca-grande-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#maca-grande-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#maca-grande-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#maca-grande-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}




#lanca-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#lanca-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#lanca-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#lanca-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}




#arco-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#arco-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#arco-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#arco-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}






#diversos-btn{
    width: 160px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#diversos-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#diversos-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#diversos-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -27px;
}




#armadura-pesada-btn{
    width: 150px;
    height: 130px;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 5px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#armadura-pesada-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#armadura-pesada-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#armadura-pesada-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -55px;
}




#armadura-media-btn{
    width: 150px;
    height: 130px;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 12px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#armadura-media-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#armadura-media-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#armadura-media-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -55px;
}





#armadura-leve-btn{
    width: 150px;
    height: 130px;
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom: 30px;
    box-shadow:  2px 6px 0 rgb(43, 42, 42);;
    cursor: pointer;
}

#armadura-leve-btn:active{
    position: relative;
    top: 6px;
    left: 2px;
    box-shadow: none;
}

#armadura-leve-btn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#armadura-leve-btn h3{
    font-family: 'Nosifer', sans-serif;
    color: #DC143C;
    position: relative;
    top: -55px;
}










.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(/img/pergaminho3.jfif) no-repeat;
    background-size: cover;
    width: 540px;
    height: 130px;
    margin:  20px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.531);
}

.logo-footer{
    width: 150px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo-footer img{
    width: 100%;
    height: auto;
}

.text-footer{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text-footer p{
    margin: 5px auto;
}

.text-footer img{
    width: 50px;
}